## Question-1 What is Min-Max scaling, and how is it used in data preprocessing? Provide an example to illustrate its application.

In [1]:
## There is another way of data scaling, where the minimum of feature is made equal to zero and the maximum of feature equal to one. MinMax Scaler shrinks the data within the given range, usually of 0 to 1. It transforms data by scaling features to a given range.

In [2]:
import seaborn as sns

In [4]:
df=sns.load_dataset('taxis')

In [5]:
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [8]:
from sklearn.preprocessing import MinMaxScaler

In [9]:
min_max=MinMaxScaler()

In [13]:
min_max.fit_transform(df[['distance','fare']])

array([[0.04359673, 0.04026846],
       [0.02152589, 0.02684564],
       [0.0373297 , 0.04362416],
       ...,
       [0.11280654, 0.10067114],
       [0.03051771, 0.03355705],
       [0.10490463, 0.09395973]])

## Question-2 What is the Unit Vector technique in feature scaling, and how does it differ from Min-Max scaling? Provide an example to illustrate its application.

In [14]:
## Like Min-Max Scaling, the Unit Vector technique produces values of range [0,1]. When dealing with features with hard boundaries, this is quite useful.

In [15]:
df=sns.load_dataset('iris')

In [16]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [17]:
from sklearn.preprocessing import normalize

In [20]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [25]:
df4=normalize(df[['sepal_length','sepal_width']])

## Question-3 What is PCA (Principle Component Analysis), and how is it used in dimensionality reduction? Provide an example to illustrate its application.

In [27]:
## Principal component analysis, or PCA, is a dimensionality reduction method that is often used to reduce the dimensionality of large data sets, by transforming a large set of variables into a smaller one that still contains most of the information in the large set.

## Question-7 For a dataset containing the following values: [1, 5, 10, 15, 20], perform Min-Max scaling to transform the values to a range of -1 to 1.

In [29]:
import pandas as pd

In [30]:
df=pd.DataFrame({'values':[1,5,10,15,20]})

In [31]:
df

   values
0       1
1       5
2      10
3      15
4      20

In [34]:
from sklearn.preprocessing import MinMaxScaler

In [35]:
min_max=MinMaxScaler()

In [36]:
min_max.fit_transform(df)

array([[0.        ],
       [0.21052632],
       [0.47368421],
       [0.73684211],
       [1.        ]])

## Question-5 You are working on a project to build a recommendation system for a food delivery service. The dataset contains features such as price, rating, and delivery time. Explain how you would use Min-Max scaling topreprocess the data.

In [47]:
df1=pd.DataFrame({'price':[1200,1344,4500,3467]})

In [48]:
df2=pd.DataFrame({'rating':[2,4,5,4]})

In [49]:
df3=pd.DataFrame({'delivery time':[1,2,3,4]})

In [51]:
df4=pd.concat([df1,df2,df3])

In [52]:
min_max.fit_transform(df4)

array([[0.        ,        nan,        nan],
       [0.04363636,        nan,        nan],
       [1.        ,        nan,        nan],
       [0.6869697 ,        nan,        nan],
       [       nan, 0.        ,        nan],
       [       nan, 0.66666667,        nan],
       [       nan, 1.        ,        nan],
       [       nan, 0.66666667,        nan],
       [       nan,        nan, 0.        ],
       [       nan,        nan, 0.33333333],
       [       nan,        nan, 0.66666667],
       [       nan,        nan, 1.        ]])

##  Question-4: What is the relationship between PCA and Feature Extraction, and how can PCA be used for Feature Extraction? Provide an example to illustrate this concept.

In [53]:
## PCA can be used to identify the most important features in a dataset, which can be used to build predictive models. Visualization: PCA can be used to visualize high-dimensional data in two or three dimensions, making it easier to understand and interpret.

In [55]:
df=sns.load_dataset('taxis')

In [58]:
from sklearn.decomposition import PCA

In [59]:
pca=PCA()

In [60]:
pca.fit_transform(df[['distance','fare']])

array([[-6.23989792, -0.4408769 ],
       [-8.38999578, -0.25872541],
       [-5.83030713, -0.07326924],
       ...,
       [ 3.10868303, -0.2050076 ],
       [-7.33713188, -0.27815742],
       [ 2.06765114, -0.22378558]])