Question-1 :how do you comment and type of comment ?

In [2]:
#declare and initialise two variables 

num1=6
num2=4

num3=num1+num2

#print the output
print(num3)

10

we use following comments:
1) declare and initialise two variables
2) print the output

   types of comments in python:
   1) single line comment
   2) multi line comment

1) single line comment: a single line comment strats and ends in a same line . for example:-

In [4]:
name="Harshit" # name is a string

2) multi line comment : """or ''' these triple quotes are gnerally are generally used as multi line string . but if we do not assign it to any variable or function we use it as comment.for example:-

In [ ]:
'''this is an perfect example of multi line comment'''

Question-2 : what are variables in python and how do you assign value to them?

in programming variable is like a container to hold data. for example:-

In [7]:
num=10

num is a variable storing the value 10. we use the assignment operator = to assign the value to a variable.we can assign multi values to varaibles.

In [8]:
a,b,c=5,'Wrute',4

we can use variables to store data of different data type . foe example -

In [9]:
a=2

In [10]:
b=30.4

In [11]:
c="Harshit"

In [12]:
l=[23,34.7,"harshit"]

In [13]:
type(a)

int

In [14]:
type(b)

float

In [15]:
type(c)

str

In [16]:
type(l)

list

Question-3 : how do you convert one data to another in python?

we can convert one data type into another in two ways :-
1) implict type conversion 
2) explicit type conversion


1) in implict conversion we can cconvert one data type to another without any involvement of user , handles automatically convert one data type to another .
 for example:-

In [22]:
a=1
print(type(a))
b=1.0
print(type(b))
c=a//b
print(type(c))

<class 'int'>
<class 'float'>
<class 'float'>

2) in explict type of onversion user involvement is required . this can done with help of int(), float(),str(). for example:-

In [23]:
a=10
print(type(a))

s=str(a)
print(s)
print(type(s))

<class 'int'>
10
<class 'str'>

Question-5: code to slice the list

In [24]:
given_my_list=[1,2,3,4,5]

given_my_list[1:3]

[2, 3]

In [25]:
type(given_my_list)

list

Question-6: what are complex number in python and how it is declare in python?

complex number is a number containng both imaginary as well as real number . in mathematics imaginary number is denoted by i. while in python it is represented by j. for example-

In [26]:
c=8+6j

In [27]:
type(c)

complex

In [28]:
c.real

8.0

In [29]:
c.imag

6.0

Question-7: what is correct way to declare variable named age and assign value 25 to it ?

first of all we create a variable name age and value 25 to it with the help of assignment operator.

In [31]:
age =25

In [32]:
print(age)

25

In [33]:
type(age)

int

Question-8: declare a variable price and assign the value 9.99 to it .

create a variable named price and assign value 9.99 to it with the help of assignment operator.

In [34]:
price=9.99

print(price)
print(type(price))

9.99
<class 'float'>

Question-9 :create a variable named name and assign your full name to it as a string.

In [35]:
s="Harshit"

In [36]:
type(s)

str

In [37]:
len(s)

7

In [38]:
print(s)

Harshit

Question-10: given the string "Hello,World!".extract the subsrting World from it.

In [39]:
s1="Hello,World!"

In [40]:
type(s1)

str

In [42]:
 sub_string=s1[6:11]

In [43]:
print(sub_string)

World

we can extract substring World by the help of slicing.

Question-11: crate a variable named "is_student" and assin it a boolean value indicating currently you are the student or not.

create variable named "is_student" and assin a bollean value.

In [44]:
is_student=1

In [45]:
type(is_student)

int

In [46]:
for i in is_student:
    if(i==1):
        print("i am currently a student")
    elif:
        print("i am not a student currently")

SyntaxError: invalid syntax (3179872881.py, line 4)