## Question-1: what is database? Differrentiate between sql and nosql database.

In [1]:
 ## Database: a database is a organised collection of structured information , or data , stored in computer system. you can organize data into table,row,columns to make it easier to find relevant information.

In [2]:
## SQL: SQL database are relational . SQL database use structured query language. SQL database are vertically scalable. SQL database consists of table. SQL database have predefined schema.

In [3]:
## NOSQL: NOSQL databse are non-relational. NOSQL database have dyanmic schema for unstructred data . NOSQL database are horizontally scalable.

## Question-2 what is DDL? explain why CREATE, DROP , ALTER ,  and TRUNCATE are used with example.

In [4]:
## DDL: data defination language(DDL) is used to create and modify the databse objects such as tables,indices,views and users.
## DDL commands are used to define the structure and schema of database . all command of DDL are auto-commited.

In [5]:
## DDL commands:
## 1. CREATE - to create to table or database. CREATE is used to create a dtabase and table.
## 2. ALTER - to modify the structure of table.
## 3.DROP - to delete table from databse. drop command is also used on database.
## 4. TRUNCATE- to delete all records from table. it is used to remove all rows. it is similar to DELETE statement.

In [ ]:
## example of CREATE:
#    1. CREATE DATABASE database_name;
#    2. CREATE TABLE ( c1 INT , c2 VARCHAR(50) , c3 FLOAT, c4 VARCHAR(40) )

In [ ]:
## example of ALTER:
# ALTER TABLE table_name
# ADD column name datatype;

In [ ]:
## Example of DROP:
# DROP TABLE table_name;

In [ ]:
## Example of TRUNCATE:
# TRUNCATE TEBLE table_name;

## Question-5: What is primary key and foregin key?

In [8]:
## Primary Key : A combination of NOT NULL AND UNIQUE . uniquely identifies each row in a table. primary key must contain unique value and cannot contain NULL value. a table can only have one primary key.

In [9]:
## Foregin Key: a foregin key constraints is used to links two tables together. a foregin key is field in one table that refers to primary key in another table.

In [ ]:
## Example:
# CREATE TABLE EMP:
#        Emp_id int NOT NULL;
#        Name varchar (20) NOT NULL;
#        Age int NOT NULL;
#        Address varchar(100) DEFAULT 'INDIA';
#        Salary numeric (10,2) NOT NULL;
#        Dept_id int,
        
#        PRIMARY KEY (Emp_id)
#        FOREGIN KEY(Dept_id) REFERENCE Dept(Dept_id)
#        CHECK(Age>=18)

## Question-4: What is DQL? explain SELECT with an example.

In [16]:
## DQL: Data Query Language is used to make varios queries in informaton system and database. DQL statements are used to query the data contained in schema objects.

In [ ]:
## DQL command:
##SELECT: to reterive data from database.

## basic syntax of SELECT:
##    SELECT column1,column2,column3,...columnN 
##    FROM table_name;

In [ ]:
## WHERE clause is used to select a particular record based on condition. it is used to filter records. WHERE clause also used in UPDATE and DELETE statement.
## Example:
# SELECT column1,column2,...columnN
# FROM table_name
# WHERE condition;

## Question-3 : What is DML? explain INSERT,DELETE and UPDATE with the help of example.

In [ ]:
## DML: Data manipulation language are used for accessing and manipulating data stored in the database. DML commmands are not auto-commited.

In [17]:
## DML commmands:
## 1.INSERT: to insert new row in a table.
## 2.DELETE: to delete a row from the table.
## 3.UPDATE: to update existing row in a table.

In [18]:
## INSERT Example:
# INSERT INTO table_name(column1,column2,column3,olumn4)
# VALUES(v1,v2,v3,v4);

In [19]:
## UPDATE:
# UPDATE table_name
# SET column1=value1,column2=value2..
# WHERE condition;

In [20]:
## DELETE :
# DELETE FROM table_name
# WHERE condition;

## Question-7: Give order of execution sql clauses in sql query.

In [21]:
# There are mainly these clauses:
#    1. WHERE clause
#    2. GROUP BY clause
#    3. HAVING clause
#    4. ORDER BY clause
#    5. DISTINCT clause

In [22]:
# Example:
#  SELECT dept_name,count(dept_name)
#  FROM emp
#  WHERE city='delhi'
#  GROUP BY dept_name
#  HAVING count(dept_name)<5
#  ORDER BY count(dept_name) desc
#  LIMIT 1

In [23]:
# order of execution :FROM,JOIN,WHERE,GROUP BY,HAVING,SELECT,DISTINCT,ORDER BY,LIMIT

## Question-6: Write a python code to connect Mysql to python. Explain cursor() and execute() method.

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user='abc',
    password='password'
)
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test2")
mydb.close()

In [25]:
## cursor()= a corsor is an object which help to execute the query and fetch records from datbase. the cursor plays a important role in executing the query.

In [26]:
## execute()= the execute the query , SQL statement or procedure specified in command text property of command object.